


.smargtop{
  margin-top: 10%;
}

.vcenter {

    vertical-align: middle;

}

.hcenter{
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	

}

.width100{
	width: 100px;
}



.floatL{
	
	float: left;
	
	
}

.floatR{
	float: right;
}



.nobrdr{
	border: 0px solid transparent;
}


.smMargAll{
	margin: 5px;
	
}




.whitebrdr{
  border: 0px solid transparent;
  margin: 5px;
}

.formNoBrdrSpacing{
    border: 0px solid transparent;
    margin: 0px 0px 5px 0px;
}


.nobrdrnobckgrnd{
  border: 0px solid transparent;
  background-color: transparent;
}


form-control{
    border: 0px solid transparent;
}

.btn-group{
    margin-top: 5px;
}




div div button .btn{
    text-align: center;
}


#acTitle{
    margin: 10px 0 -15px 0;
    color: #e74c3c;
}
#acTitle > h3{
    
    color: #16a085;
}


















































